// ========================================| Partial |
@import "variables";
@import "base";
@import "layout";

// ============================================/ home == hero
.hero{
    min-height: 86vh;
    background: url(../images/hero-1.png) no-repeat center center / cover fixed ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1) , transparent,transparent,transparent,transparent, transparent,transparent,transparent, rgba(0, 0, 0, 0.3));
        pointer-events: none;
    }
    &-view{
        padding: 10px;
        width: 500px;
        background: $color-glass-bg;
        border-radius: $radius-lg;
        box-shadow: 0px 0px 30px $color-primary-lightest;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-shadow: 0px 0px 2px $color-primary-lightest;
    }
    &-sub-title{
        padding-block: 10px;
        font-size: $font-2xl;
        font-family: "font-harabara";
        color: $color-secondary-darkest;
    }
    &-title{
        font-size: $h1-lg;
        font-family: "font-dameron";
        -webkit-text-stroke: 1px $color-secondary-darkest;
        color: transparent;
    }
    &-description{
        padding-block: 20px;
        font-size: $font-xl;
    }
    &-link{
        padding: 10px 20px;
        background-color: $color-secondary-darkest;
        border: 1px solid $color-primary;
        border-radius: $radius-sm;
        color: $color-primary-lightest;
        transition: 0.5s ease;
        box-shadow: 0px 0px 5px $color-blue;
        &:hover{
            text-shadow: 0px 0px 10px $color-primary-lightest;
            background-color: $color-secondary-dark;
            box-shadow: 0px 0px 10px $color-blue-lightest;
        }
    }
}
// ============================================/ about
.about{
    padding: 50px 8%;
    // color: orangered;
    // background: blue;
    // background: $color-primary-lightest;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
    & > .middle{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        
    }
    &-img{
        padding: 7px;
        position: relative;
        justify-self: end;
        width: 32vw;
        height: 32vw;
        border-radius: $radius-circle;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: 0px 0px 2px $color-blue-lightest inset;
        
        &-box{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: $radius-circle;
            border: 3px solid $color-primary-lightest;
            overflow: hidden;
            z-index: 1;
            img{
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                object-fit: cover;
                mix-blend-mode: lighten;
            }
        }
        &::before,&::after{
            content: "";
            position: absolute;
            width: 500px;
            height: 500px;
            background: conic-gradient(transparent,transparent,transparent,$color-blue-dark);
            transform: rotate(0deg);
            animation: rotate-border 10s linear infinite;
        }
        &::after{
            animation-delay: -5s;
        }
    }
    &-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    &-sub-title{
        font-family: "font-harabara";
        font-size: $font-2xl;
        color: $color-secondary-dark;
    }
    &-title{
        font-size: $h2-lg;
        color: $color-secondary-darkest;
    }
    &-wrapper{
        display: inline-block;
        font-family: "font-harabara";
        font-size: $h3-lg;
        color: $color-secondary-dark;
        span{
            position: relative;
            font-family: "font-obveron";
            display: inline-block;
            color: transparent;
            -webkit-text-stroke: 0.3px $color-blue-darkest;
            text-shadow: 0px 0px 5px $color-primary-lightest;
            animation: display-span 16s linear infinite;
            animation-delay: calc(-4s * var(--s));
            &::before{
                content: attr(data-span);
                position: absolute;
                width: 0;
                border-right: 2px solid $color-blue-dark;
                color: $color-blue-dark;
                white-space: nowrap;
                overflow: hidden;
                animation: fill-span 4s linear infinite;
            }
        }
    }
    &-description{
        padding-block: 5px;
        font-size: $font-xl;
        color: $color-secondary-dark;
    }
    &-btn{
        padding-block:5px;
        display: flex;
        align-items: center;
        &-link{
            padding: 10px 30px;
            background-color: $color-secondary-darkest;
            color: $color-primary;
            border-radius: $radius-sm;
            text-shadow: 0px 0px 5px $color-primary-lightest;
            border: 1px solid $color-primary-lightest;
            box-shadow: 0px 0px 5px $color-blue;
            font-size: $font-xl;
            transition: 0.5s ease;
            &:hover{
                transform: scale(1.03,1.03);
                text-shadow: 0px 0px 10px $color-primary-lightest;
                box-shadow: 0px 0px 10px $color-blue-lightest;
                background-color: $color-secondary-dark;
            }
        }
        &-sic,.sic{
            margin-left: 20px;
            .sic{
                padding: 7px;
                font-size: $radius-md;
                display: inline-flex;
                border-radius: $radius-circle;
                border: 2px solid $color-secondary-darkest;
                background-color: transparent;
                color: $color-secondary-darkest;
                transition: 0.5s ease;
                &:hover{
                    background-color: $color-blue-dark;
                    text-shadow: 0px 0px 3px $color-primary;
                    border: 2px solid $color-blue;
                    color: $color-primary-lightest;
                }
            }
        }
    }
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    z-index: -1;
    .bar{
        width: 100%;
        height: 100%;
        background-color: $color-primary-lightest;
        // border: 2px solid white;
        transform: translateY(-100%);
        animation: show-bars 1.5s ease-in-out forwards;
        animation-delay: calc(0.1s * var(--i));
    }
}
// ============================================/ skill
.skill{
    background:lighten($color-primary-dark, 5%);
    &-title{
        width: 100%;
        display: inline-block;
        padding: 10px 5px;
        margin: 0 auto;
        text-align: center;
        font-size: $h3-md;
        color: $color-secondary-light;
        text-shadow: 0px 0px 2px $color-secondary;
    }
    .middle{
        // padding: 0px 6%;
        display: grid;
        grid-template-columns: 350px 1fr;
        // grid-template-rows: 1fr;
        // align-items: center;
    }
    &-wrapper{
        margin-right: 20px;
        position: relative;
        background: $color-glass-bg;
        border-radius: $radius-lg;
        box-shadow: 0px 0px 15px $color-secondary-light;
        border: 1px solid $color-primary;
        .skill-img{
            position: absolute;
            top: 17%;
            left: 50%;
            transform: translate(-50%, -11%);
            margin-right: 20px;
            border-radius: $radius-lg;
            box-shadow: 0px 0px 15px $color-primary-lightest;
            img{
                width: 300px;
                border-radius: $radius-lg;
            }
        }
    }
    &-info{
        padding: 15px 20px;
        margin-left: 10px;
        position: relative;
        background: $color-glass-bg;
        border-radius: $radius-lg;
        box-shadow: 0px 0px 15px $color-secondary-light;
        border: 1px solid $color-primary;
        span{
            font-size: $font-xl;
            font-weight: bold;
            color: $color-secondary-darkest;
            text-shadow: 0px 0px 1px $color-blue-dark;
            i{
                text-shadow: 0px 0px 1px $color-blue-dark;
                color: $color-blue-dark;
                font-size: $font-xl;
            }
        }
        .skill-box{
            padding: 20px 20px;
            border-radius: $radius-lg;
            border: 1px solid $color-primary;
            background: $color-secondary-darkest;
            .skill-direct{
                padding: 7px;
                display: grid;
                grid-template-columns: 140px 1fr 50px;
                justify-content: space-between;
                align-items: center;
                color: $color-secondary-lightest;
                text-shadow: 0px 0px 20px $color-blue-lightest;
                font-size: $font-lg;
                .skill-name{
                    text-shadow: 0px 0px 1px $color-blue-lightest;
                    i{
                        color: $color-secondary-lightest;
                        font-size: $font-2xl;
                    }
                    .diffrent{
                        font-size: $font-3xl;
                    }
                }
                .skill-persent{
                    margin: 0 auto;
                }
                .skill-level{
                    width: 100%;
                    height: 10px;
                    border-radius: $radius-lg;
                    border: 2px solid  $color-secondary-lightest;
                    position: relative;
                    &-persent{
                        height: 7px;
                        border: 2px solid $color-secondary-darkest;
                        background: $color-secondary-light;
                        border-radius: $radius-lg;
                        transition: 0.5s ease;
                    }
                    &:hover > .skill-level-persent{
                        margin: 0 10px;
                        background: $color-secondary-lightest;
                        transform: scaleY(1.03) scaleX(1.03);
                    }
                }
            }
        }
    }
}
// ==================================| animations Keyframes |=========================================
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes display-span{
    25%,
    100%{
        display: none;
    }
}
@keyframes fill-span{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;
    }
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
